.DS_Store
.ipynb_checkpoints
.ipynb_checkpoints/
labels.txt
*.tfrecords
*.gz
*.tar
*.zip
*.wav
*.hd5
*.pb
aerial/
aerialimages/
aerialsmall/
aerialmed/
aeriallarge/
aerialtiny/
aml_config/
outputs/
docker_export/
test_images/
DataScientistTrack/02-AML-EndToEndWalkthrough/script
 
